

body{
    background-color:darkblue 
 }

.one,.five{
    opacity: .7;

} 



.one{
    z-index: 6;
    width: 15%;
    position: absolute;
    left: 26em;
    top: 25em;
}
.two{
    z-index: 5;
    width: 30%;
    position: absolute;
    left: 20em;
    top: 19em;
}
.three{
    z-index: 4;
    width: 45%;
    position: absolute;
    left: 14em;
    top: 14em;
}
.four{
    z-index: 3;
    width: 50%;
    position: absolute;
    left: 12em;
    top: 11.5em;
}
.five{
    z-index: 2;
    width: 60%;
    position: absolute;
    left: 8em;
    top: 8.5em;

}
.six{
    z-index:1;
    width: 80%;
    position: absolute;
    left: 0em;
    top: 0px;
}
